<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Cat Ormerod - Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c83e6599af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.css"
        integrity="sha512-hGBKkjAVJUXoImyDezOKpzuY4LS1eTvJ4HTC/pbxn47x5zNzGA1vi3vFQhhOehWLTNHdn+2Yqh/IRNPw/8JF/A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{!-- <div class="container"> --}}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-project-title">Project Title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="loader"></div>
                        <div id="modal-image"></div>
                        <div id="modal-project-description"></div>
                        <div id="modal-project-tools"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="modal-repo">GitHub Repo</button>
                        <button type="button" class="btn" id="modal-live-page">Live Deployed Page</button>
                    </div>
                </div>
            </div>
        </div>
        {{!--
    </div> --}}
    <!--Navbar with links to the page as well as a downloadable resume-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Coding Cat Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end float-md-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resume">Resume</a>
                    </li>
                    {{#if logged_in}}
                    <li class="nav-item"><a class="nav-link" id="logout" href="/logout">Logout</a></li>
                    {{else}}
                    <li class="nav-item"><a class="nav-link" href="/login">Admin</a></li>
                    {{/if}}
                </ul>
                    
            </div>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main class="px-3">
    <footer class="container-fluid text-center" id="contact-me">
        <div class="icon-bar">
            <a href="https://www.linkedin.com/in/cat-ormerod/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/CatOrmerod" class="github"><i class="fa fa-github"></i></a>
            <a href="mailto:catormerod@gmail.com" class="email"><i class="fas fa-at"></i></a>
        </div>
    </footer>

    <!--script links for jQuery, bootstrap and script file-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"
        integrity="sha512-HqbDsHIJoZ36Csd7NMupWFxC7e7aX2qm213sX+hirN+yEx/eUNlZrTWPs1dUQDEW4fMVkerv1PfMohR1WdFFJQ=="
        crossorigin="anonymous"></script>
    <script src="./js/modals.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    </div>
</body>

</html>