<!--about me section-->
<div class="media" id="about-me">
  <img
    src="./images/selfie.jpg"
    alt="Cat Ormerod"
    class="mr-3 mt-3 rounded-circle"
    style="width:150px;"
  />
  <div class="media-body">
    <h4>Cat Ormerod <small><i>full stack developer</i></small></h4>
    <p>I've worked in Marketing for the last 20 years, most recently in the
      Airline Industry for Air New Zealand. In that time I've enjoyed roles in
      Trade Marketing, Brand Development and also a few Marketing Analytics
      roles.</p>
    <p>I currently live in Central Coast, NSW with my partner and our 3 year old
      daughter, Piper. She is a crazy kid but I've loved spending time with her
      over the last few years.
    </p>
    <p>I'm looking for a new challenge and that has brought me to the world of
      coding. Before I started this course I had no idea about front end vs back
      end, or what full stack meant! Looking forward to seeing what the next few
      months brings and what career opportunities will come from it
    </p>
  </div>
</div>