{{!-- <div class="card">
    <div class="card-header">
        <h5>Contact Me!</h5>
    </div>
    <div class="card-body">
        <form class="form contact-form">
            <div class="form-group">
                <label for="name-contact">Name:</label>
                <input class="form-input" type="text" id="name-contact" />
            </div>
            <div class="form-group">
                <label for="email-contact">Email:</label>
                <input class="form-input" type="text" id="email-contact" />
            </div>
            <div class="form-group">
                <label for="comment-contact">Message:</label>
                <input class="form-input" type="text" id="comment-contact" />
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Contact Me</button>
            </div>
        </form>
    </div>
</div> --}}

<h3>Contact Me!</h3>
<form class="contact-form">
  <div class="mb-3">
    <label for="name-contact" class="form-label">Name</label>
    <input type="text" class="form-control" id="name-contact">
  </div>
  <div class="mb-3">
    <label for="email-contact" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-contact" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="comment-contact" class="form-label">Message</label>
    <input type="text" class="form-control" id="comment-contact">
  </div>
  <button type="submit" class="btn">Send</button>
</form>

<script src="/js/contact.js"></script>